<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.manage.jssb.mapper.TXqJssbMapper">
    
    <resultMap type="TXqJssb" id="TXqJssbResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="deptId"    column="dept_id"    />
        <result property="deptName"    column="dept_name"    />
        <result property="type"    column="type"    />
        <result property="busName"    column="bus_name"    />
        <result property="busMobile"    column="bus_mobile"    />
        <result property="content"    column="content"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTXqJssbVo">
        select id, title, type, bus_name, bus_mobile, content, create_by, create_time, update_by, update_time
        
        from t_xq_jssb
    </sql>

    <select id="selectTXqJssbList" parameterType="TXqJssb" resultMap="TXqJssbResult">
        select id, title, type, bus_name, bus_mobile , dept_id,
       (select GROUP_CONCAT(dept_name)  from sys_dept where FIND_IN_SET(dept_id,t_xq_jssb.dept_id)  )  dept_name
        from t_xq_jssb
        <where>  
            <if test="type != null "> and type = #{type}</if>
            <if test="busName != null  and busName != ''"> and bus_name like concat('%', #{busName}, '%')</if>
            <if test="busMobile != null  and busMobile != ''"> and bus_mobile = #{busMobile}</if>
        </where>
    </select>
    
    <select id="selectTXqJssbById" parameterType="Long" resultMap="TXqJssbResult">
        select id, title, type, bus_name, bus_mobile , dept_id, content,
       (select GROUP_CONCAT(dept_name)  from sys_dept where FIND_IN_SET(dept_id,t_xq_jssb.dept_id)  )  dept_name
        from t_xq_jssb
        where id = #{id}
    </select>
        
    <insert id="insertTXqJssb" parameterType="TXqJssb" useGeneratedKeys="true" keyProperty="id">
        insert into t_xq_jssb
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null  and title != ''">title,</if>
            <if test="deptId != null and deptId != '' ">dept_id,</if>
            <if test="type != null ">type,</if>
            <if test="busName != null  and busName != ''">bus_name,</if>
            <if test="busMobile != null  and busMobile != ''">bus_mobile,</if>
            <if test="content != null  and content != ''">content,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            create_time, 
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null  and title != ''">#{title},</if>
            <if test="deptId != null and deptId != '' ">#{deptId},</if>
            <if test="type != null ">#{type},</if>
            <if test="busName != null  and busName != ''">#{busName},</if>
            <if test="busMobile != null  and busMobile != ''">#{busMobile},</if>
            <if test="content != null  and content != ''">#{content},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            sysdate(), 
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTXqJssb" parameterType="TXqJssb">
        update t_xq_jssb
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null  and title != ''">title = #{title},</if>
            <if test="type != null ">type = #{type},</if>
            <if test="deptId != null and deptId != '' ">dept_id = #{deptId},</if>
            <if test="busName != null  and busName != ''">bus_name = #{busName},</if>
            <if test="busMobile != null  and busMobile != ''">bus_mobile = #{busMobile},</if>
            <if test="content != null  and content != ''">content = #{content},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            create_time = sysdate(),
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTXqJssbById" parameterType="Long">
        delete from t_xq_jssb where id = #{id}
    </delete>

    <delete id="deleteTXqJssbByIds" parameterType="String">
        delete from t_xq_jssb where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>