<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('报修管理列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>类型：</p>
                                <select name="type" th:with="type=${@dict.getType('sys_wx_type')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>状态：</p>
                                <select name="state" >
                                     <option value="1">已提交</option>
                                      <option value="2">已受理</option>
                                      <option value="3">已结束</option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <!--<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="manage:bxinfo:export">
                    <i class="fa fa-download"></i> 导出
                 </a>-->
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('manage:bxinfo:edit')}]];
        var removeFlag = [[${@permission.hasPermi('manage:bxinfo:remove')}]];
        var typeDatas = [[${@dict.getType('sys_wx_type')}]];
        var prefix = ctx + "manage/bxinfo";

        $(function() {
            var options = {
            	showToggle:false,
            	showSearch:false,
                url: prefix + "/list",
                createUrl: prefix + "/add",
                detailUrl: prefix + "/edit/{id}",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                //exportUrl: prefix + "/export",
                modalName: "报修管理",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : 'null',
                    visible: false
                },
                {
                    field : 'type', 
                    title : '类型',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(typeDatas, value);
                    }
                },
                {
                    field : 'appointment', 
                    title : '预约时间'
                },
                {
                    field : 'presentedDept', 
                    title : '发布人小区'
                },
                {
                    field : 'presentedMobile', 
                    title : '发布人联系方式'
                },
                {
                    field : 'state', 
                    title : '状态',
                    formatter: function (state, row, index) {
                    	if(state == 1)
							return '已提出';
						if(state == 2)
							return '已受理';
						if(state == 3)
							return '已结束';
					}
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        if(row.state == 1)
                        	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        if(row.state != 1)
                        	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.detail(\'' + row.id + '\')"><i class="fa fa-edit"></i>详细</a> ');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>